@define-color bg #1a2124;
@define-color fg #d3dcde;
@define-color gray1 #6ab4cd;
@define-color gray2 #5c7e8a;
@define-color gray3 #57b0ce;
@define-color gray4 #7ab8cc;
@define-color gray5 #77b3c8;
@define-color fg_bright #d3dcde;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}