/* Matugen generated colors for Waybar */
@define-color background #131318;
@define-color foreground #e5e1e9;
@define-color primary #c5c0ff;
@define-color secondary #c8c4dc;
@define-color tertiary #ebb8d0;
@define-color error #ffb4ab;

/* Container colors */
@define-color primary_container #444078;
@define-color secondary_container #464559;
@define-color tertiary_container #613b4f;

/* On-colors (text on containers) */
@define-color on_primary #2d2960;
@define-color on_secondary #302e42;
@define-color on_tertiary #472538;
@define-color on_background #e5e1e9;

/* Surface variants */
@define-color surface_dim #131318;
@define-color surface_bright #3a383f;
@define-color surface_container #201f25;
@define-color surface_container_low #1c1b20;
@define-color surface_container_high #2a292f;

/* Outline */
@define-color outline #928f99;
@define-color outline_variant #47464f;

/* Inverse colors */
@define-color inverse_surface #e5e1e9;
@define-color inverse_on_surface #313036;
@define-color inverse_primary #5c5891;
